<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="INFO">
	<Appenders>
		<File name="MyFile" fileName="logs/pritesh.log"
			immediateFlush="false" append="false">
			<PatternLayout>
				<Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
			</PatternLayout>
		</File>
		<Console name="LogToConsole" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
	</Appenders>


	<Loggers>
		<Logger name="com.marlabs" level="info" additivity="false">
			<AppenderRef ref="MyFile" />
		</Logger>
		<Root name="com.marlabs" level="info">
			<AppenderRef ref="LogToConsole" />
		</Root>
	</Loggers>
</Configuration>